*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;
}
html,
body {
    overflow-x: hidden;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: #011A27;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-container {
  position: absolute;
  left: 0;
  top: 5%;
  right: 0;
  text-align: center;
}

.container__auth {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 576px;
    background-color: #fff;
    transform: translate(-50%,-50%);
    -webkit-transition: max-width 250ms ease;
    -moz-transition: max-width 250ms ease;
    -o-transition: max-width 250ms ease;
    transition: max-width 250ms ease;
}
.container__auth--register {
    max-width: 1336px;
}
.tabs {}
.tabs .tabs-item {
    display: inline-block;
    width: 50%;
    margin: 0;
    list-style-type: none;
    background: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}
.tabs .tabs-item .tabs-item__button {
    display: block;
    width: 100%;
    padding: 28px 21px;
    color: rgb(255,255,255);
    cursor: pointer;
    outline: none;
    font-size: 34px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    border: none;
    border-radius:2px;
    background-color: rgb(205,205,205);
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}
.tabs .tabs-item .tabs-item__button:hover { opacity: 0.8; }
.tabs .tabs-item:first-child .tabs-item__button {
    padding-left: 27px;
}
.tabs .tabs-item .tabs-item__button.current {
  color: rgb(55,96,146);
  background-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.tabs .tabs-item:first-child .tabs-item__button.current {
    border-right: 1px solid rgb(100,156,190);
}
.tabs .tabs-item:last-child .tabs-item__button.current {
    border-left: 1px solid rgb(100,156,190);
}

.tab-content-wrapper .tab-content {
  display: block;
  padding: 30px;
  background-color: #fff;
}

.form {}
.form-login div:first-child { margin-bottom: 95px; }
.form-login div:first-child .err {
    position: relative;
    padding-left: 57px;
    margin-top: 6px;
    color: rgb(255,0,0);
    font-size: 18px;
    text-align: center;
}
.form-login div:first-child .err:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 62px;
    width: 18px;
    height: 18px;
    background-image: url("../images/error.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.form-register div:first-child { margin-bottom: 95px; }
.form-register div:first-child .err {
    position: relative;
    padding-left: 57px;
    margin-top: 6px;
    color: rgb(255,0,0);
    font-size: 18px;
    text-align: left;
}
.form-register div:first-child .err:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 24px;
    width: 18px;
    height: 18px;
    background-image: url("../images/error.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.form-register div .form-input:nth-child(3) { width: 46%; }
.form-register div div { display: inline-block; width: 8%; }
.form-register div .form-input:nth-child(5) { width: 46%; }
.form .form-input {
    width: 100%;
    padding: 25px 0;
    margin-top: 9px;
    color: #374350;
    outline: none;
    font-size: 24px;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid rgb(221,221,221);
}
.form .form-input::-webkit-input-placeholder {
    font-size: 24px;
    font-weight: lighter;
}
.form .form-input:-moz-placeholder {
    font-size: 24px;
    font-weight: lighter;
}
.form .form-input::-moz-placeholder {
    font-size: 24px;
    font-weight: lighter;
}
.form .form-input:-ms-input-placeholder {
    font-size: 24px;
    font-weight: lighter;
}
.form .form-forgotten,
.form .form-login-submit {
    display: inline-block;
    width: 50%;
}
.form .form-forgotten {
    text-align: left;
}
.form .form-forgotten .form-forgotten--link {
    color: #376092;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.form .form-forgotten .form-forgotten--link:hover { opacity: 0.7; }
.form .form-forgotten .form-forgotten--link:active { opacity: 0.9; }
.form .form-login-submit {
    text-align: right;
}
.form .form-register-submit {
    width: 100%;
    text-align: right;
}
.form .btn {
    width: 120px;
    height: 120px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #888888;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.form .btn:hover { opacity: 0.7; }
.form .btn:active { opacity: 0.9; }
.form .form-login-submit .btn-lg {
    position: relative;
    background-color: rgb(255,161,0);
}
.form .form-login-submit .btn-lg:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 27px;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: url("../images/check.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.form .form-login-submit .btn-lg:after {
    content: "Login";
    position: absolute;
    right: 0;
    bottom: 17px;
    left: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.form .form-register-submit .btn-rg {
    position: relative;
    background-color: rgb(61,106,157);
}
.form .form-register-submit .btn-rg:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 27px;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: url("../images/next.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.form .form-register-submit .btn-rg:after {
    content: "Next";
    position: absolute;
    right: 0;
    bottom: 17px;
    left: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.tab-register .register-title {
    color: #376092;
    font-size: 34px;
}
.tab-register .form-registerNext {  }
.tab-register .form-registerNext .register-row {  }

.tab-register .form-registerNext .register-col { display: inline-block; }
.tab-register .form-registerNext .register-col.col-1,
.tab-register .form-registerNext .register-col.col-3 { width: 40%; }
.tab-register .form-registerNext .register-col.col-2 { width: 20%; }

.tab-register .form-registerNext .register-col .err {
    position: relative;
    margin-top: 6px;
    opacity: 0;
    color: rgb(255,0,0);
    font-size: 18px;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}
.tab-register .form-registerNext .register-col .err:before{
    content: ' ';
    position: absolute;
    top: 28px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: url("../images/error.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.tab-register .form-registerNext .register-col .err.active { opacity: 1; }
.tab-register .form-registerNext .register-col .form-input {
    padding: 0px 0 20px 0;
    margin-top: 2px;
}
.tab-register .form-registerNext .register-col .form-checkbox {
    color: #374350;
    font-size: 18px;
}
.tab-register .form-registerNext .register-col .register-col--sep { display: inline-block; }
.tab-register .form-registerNext .register-col .register-col--sep:nth-child(1),
.tab-register .form-registerNext .register-col .register-col--sep:nth-child(3) {
    width: 45%;
}
.tab-register .form-registerNext .register-col .register-col--sep:nth-child(2) {
    width: 10%;
}
.tab-register .form-registerNext .register-col .btn-rg {
    position: relative;
    margin-left: 40px;
    background-color: rgb(255,161,0);
}
.tab-register .form-registerNext .register-col .btn-rg:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 27px;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: url("../images/check.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.tab-register .form-registerNext .register-col .btn-rg:after {
    content: "Register";
    position: absolute;
    right: 0;
    bottom: 17px;
    left: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.tab-register .form-registerNext .register-col .btn-cancel {
    display: inline-block;
    position: relative;
    background-color: rgb(210,210,210);
}
.tab-register .form-registerNext .register-col .btn-cancel:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 27px;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: url("../images/cancel.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.tab-register .form-registerNext .register-col .btn-cancel:after {
    content: "Cancel";
    position: absolute;
    right: 0;
    bottom: 17px;
    left: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.tab-register .form-registerNext .register-col .need-help {
    color: #376092;
    text-decoration: none;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}
.tab-register .form-registerNext .register-col .need-help:hover {
    opacity: 0.7;
}
.tab-register .form-registerNext .register-col .need-help:active {
    opacity: 0.9;
}
.password-strength {
    position: absolute;
    bottom: 28px;
    right: 0;
    padding: 6px 8px;

}
.password-strength.weak { color: #ff0000; background-color: rgb(250,232,232); }
.password-strength.medium { color: #fb9503; background-color: rgb(251,235,187); }
.password-strength.strong { color: #71c14c; background-color: #94f967; }

.dashboard-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.country-dropdown {
    position: absolute;
    bottom: -116px;
    width: 100%;
    opacity: 0;
    border: 1px solid rgb(221,221,221);
    list-style-type: none;
    background-color: #fff;
}
.country-dropdown.dropdown { opacity: 1; }
.country-dropdown li {
    padding: 10px;
    cursor: pointer;
}
