<div class="container__auth">
	<ul class="tabs">
        <li class="tabs-item">
			<button class="tabs-item__button" ng-class="{'current':firstTab}">Login</button>
        </li><!--
        --><li class="tabs-item">
			<button class="tabs-item__button"
				ng-click="selectTab()" 
				ng-class="{'current':secondTab}">Register
			</button>
        </li>
	</ul>
	<div class="tab-content-wrapper">
		<div class="tab-content">
			<form class="form form-login" name="loginForm" ng-submit="submitLogin()" novalidate>
				<div>
					<p class="err" ng-show="submitted && (
					loginForm.mail.$error.email || loginForm.mail.$error.required || loginForm.password.$error.required)">
						The email or password you provided is not valid.
					</p>
					<input class="form-input" 
						type="email" 
						name="mail" 
						placeholder="Email"
						ng-model="mail" autocomplete="off" required/>
					<input class="form-input" 
						type="password" 
						name="password"  
						placeholder="Password"
						ng-model="password" autocomplete="off" required/>
				</div>
				<div class="form-forgotten">
					<a class="form-forgotten--link" href="">Forgotten Password</a>
				</div><!--
				--><div class="form-login-submit">
					<button class="btn btn-lg" type="submit"></button>
				</div>
			</form>
        </div>
	</div>
</div>