<div class="container__auth" ng-class="{'container__auth--register':nextRegister}">
	<ul class="tabs" ng-show="!nextRegister">
		<li class="tabs-item">
			<button class="tabs-item__button"
				ng-click="selectTab()"
				ng-class="{'current':firstTab}">Login
			</button>
		</li><!--
		--><li class="tabs-item">
			<button class="tabs-item__button" ng-class="{'current':secondTab}">Register</button>
		</li>
	</ul>
	<div class="tab-content-wrapper">
		<div class="tab-content" ng-show="!nextRegister">
			<form class="form form-register" name="registerForm" ng-submit="nextReg()" novalidate>
				<div>
					<p class="err" ng-show="next && (
					registerForm.mail.$error.email || registerForm.mail.$error.required || registerForm.firstName.$error.required || registerForm.lastName.$error.required)">
						* fields are required.
					</p>
					<input class="form-input"
						type="email"
						name="mail"
						placeholder="Email * (Please provide your professional email)"
						ng-model="mail" autocomplete="off" required/>
					<input class="form-input"
						type="text"
						name="firstName"
						placeholder="First name *"
						ng-model="firstName" autocomplete="off" required/><!--
					--><div></div><!--
					--><input class="form-input"
						type="text"
						name="lastName"
						placeholder="Last name *"
						ng-model="lastName" autocomplete="off" required/>
				</div>
				<div class="form-register-submit">
					<button class="btn btn-rg" type="submit"></button>
				</div>
			</form>
		</div>
		<div class="tab-content tab-register" ng-show="nextRegister">
			<h2 class="register-title">Register</h2>
			<form class="form form-registerNext" name="registerNextForm" ng-submit="register()" novalidate>
				<div class="register-row row-1">
					<div class="register-col col-1">
						<p class="err" ng-class="{'active':submitted &&
						registerForm.mail.$error.email || registerForm.mail.$error.required}">
							The email address you provided is not valid.
						</p>
						<input class="form-input" type="email" name="mail"
						placeholder="(Professional) Email *"
						ng-model="mail" autocomplete="off" required/>
					</div><!--
					--><div class="register-col col-2"></div><!--
					--><div class="register-col col-3">
						<input class="form-input"
						type="text"
						name="employees"
						placeholder="Number of employees inside the company"
						ng-model="employees" autocomplete="off"/>
					</div>
				</div>
				<div class="register-row row-2">
					<div class="register-col col-1">
						<div class="register-col--sep">
							<p class="err" ng-class="{'active':submitted && registerNextForm.firstName.$error.required}">
								Please provide first name.
							</p>
							<input class="form-input"
							type="text"
							name="firstName"
							placeholder="First name *"
							ng-model="firstName" autocomplete="off" required/>
						</div><!--
						--><div class="register-col--sep">
						</div><!--
						--><div class="register-col--sep">
							<p class="err" ng-class="{'active':submitted && registerNextForm.lastName.$error.required}">
								Please provide last name.
							</p>
							<input class="form-input"
							type="text"
							name="lastName"
							placeholder="Last name *"
							ng-model="lastName" autocomplete="off" required/>
						</div>
					</div><!--
					--><div class="register-col col-2"></div><!--
					--><div class="register-col col-3">
						<input class="form-input"
						type="number"
						name="phone"
						placeholder="Phone"
						ng-model="phone" autocomplete="off"/>
					</div>
				</div>
				<div class="register-row row-3">
					<div class="register-col col-1">
						<p class="err" ng-class="{'active':submitted && registerNextForm.companyName.$error.required}">
							Please provide a company name.
						</p>
						<input class="form-input"
						type="text"
						name="companyName"
						placeholder="Company name *"
						ng-model="companyName" autocomplete="off" required/>
					</div><!--
					--><div class="register-col col-2"></div><!--
					--><div class="register-col col-3" style="position:relative;">
						<input class="form-input"
						type="text"
						name="country"
						placeholder="Country"
						ng-model="isCountry"
						ng-click="getCountry()" autocomplete="off"/>
						<ul class="country-dropdown" ng-class="{'dropdown':countryActive}" >
							<li ng-click="setCountry('Country 1')">Country 1</li>
							<li ng-click="setCountry('Country 2')">Country 2</li>
							<li ng-click="setCountry('Country 3')">Country 3</li>
						</ul>
					</div>
				</div>
				<div class="register-row row-4">
					<div class="register-col col-1">
						<p class="err" ng-class="{'active':submitted && registerNextForm.position.$error.required}">
							Please provide a company name.
						</p>
						<input class="form-input"
						type="text"
						name="position"
						placeholder="Position *"
						ng-model="position" autocomplete="off" required/>
					</div><!--
					--><div class="register-col col-2"></div><!--
					--><div class="register-col col-3">
						<input class="form-input"
						type="number"
						name="code"
						placeholder="Invitation code"
						ng-model="code" autocomplete="off"/>
					</div>
				</div>
				<div class="register-row row-5">
					<div class="register-col col-1" style="position:relative;">
						<p class="err" ng-class="{'active':submitted && registerNextForm.password.$error.required}">
							The password must contain at least 6 characters.
						</p>
						<input class="form-input"
						type="password"
						name="password"
						placeholder="Password"
						ng-change="setPassFlag(password)"
						ng-model="password" autocomplete="off" required/>
						<span class="password-strength" data-ng-show='registerNextForm.password.$valid && registerNextForm.password.$dirty' data-ng-class="strength">{{strength}}</span>
					</div><!--
					--><div class="register-col col-2"></div><!--
					--><div class="register-col col-3" style="position: relative;">
						<div style="position:absolute;top:0;right:0;">
							<a class="btn btn-cancel" ng-click="cancel()"></a>
							<button class="btn btn-rg" type="submit"></button>
						</div>
					</div>
				</div>
				<div class="register-row row-6" style="margin-bottom: 42px;">
					<div class="register-col col-1">
						<p class="err" ng-class="{'active':submitted && registerNextForm.confPassword.$error.required}">
							Passwords do not match.
						</p>
						<input class="form-input"
						type="password"
						name="confPassword"
						placeholder="Confirm password"
						ng-model="confPassword" autocomplete="off" required/>
					</div><!--
					--><div class="register-col col-2"></div>
				</div>
				<div class="register-row row-7">
					<div class="register-col col-1">
						<p class="err" ng-class="{'active':submitted && registerNextForm.checkbox.$error.required}" style="margin-bottom: 10px;">
							Please read and agree with the terms and conditions below.
						</p>
						<input class="form-checkbox" type="checkbox" name="checkbox" ng-model="checkbox" autocomplete="off" required>
						<span style="color:#374350;">I read and agree with the <span style="color:#376092;">Terms and Conditions</span></span>
					</div><!--
					--><div class="register-col col-2"></div><!--
					--><div class="register-col col-3" style="text-align:right;">
						<a class="need-help" href="">Need Help?</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
